<div class="container">
<h1><%= @user.name %>さんとのチャット</h1>
<%= form_with model: @chat, remote: true do |f| %>
<%= f.text_field :message %>
<%= f.hidden_field :room_id %>
<%= f.submit "送信" %>
<% end %>

<table>
  <thead>
    <tr>
     <th>投稿者</th>
     <th>投稿内容</th>
    </tr>
  </thead>
  
  <tbody class="chat_messages">
   <%= render 'index', chats: @chats %>
  </tbody>
</table>
</div>